[Unit]
Description=Generates a wireless access point
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/stage4/02-net-tweaks/files/rpi-access-point

[Install]
WantedBy=multi-user.target
